[user]
	name = Michael Bui
	email = michael.bui_crystal@outlook.com
	signingkey = 102F1694BCD1FC64 
[gpg]
	program = gpg
[core]
	autocrlf = input
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[http]
	postBuffer = 524288000
[commit]
	gpgsign = true